.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #59814b;
  opacity: 0.8;
  border-radius: 15px;
}

.lobby-container h2 {
  color: var(--primary);
  font-size: 70px;
  letter-spacing: 10px;
}

.input-box {
  border-radius: 10px;
  width: 296px;
  height: 70px;
  text-align: center;
  font-size: 35px;
  border-width: 4px;
  border-color: #29457c;
  font-family: "Micro 5", serif;
}

.lobby-container button {
  border-radius: 10px;
  color: #29457c;
  font-size: 35px;
  width: 307px;
  padding: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  border-width: 4px;
  border-color: #29457c;
  background-color: aliceblue;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px #29457c;
}

/* .create-button {
  padding: 5px;
  margin: 5px;
}

.join-button {
  padding: 5px;
  margin: 5px;
} */

/* When hovering, make it look pressed */
.lobby-container button:hover {
  transform: translateY(2px);
  box-shadow: 0 2px #1d6a9d;
}

/* When clicking, make it press down more */
.lobby-container button:active {
  transform: translateY(4px);
  box-shadow: 0 0 #1d6a9d;
}
