.GameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GameOver h1 {
    color: var(--primary);
    font-size: 120px;
}

.GameOver button {
    font-size: 40px;
    padding: 20px 40px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.GameOver button:hover {
  background-color: var(--primary--dim);
  transform: rotate(10deg);
}
