.Game-login {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #3f3f3f;
  font-size: 40px;
  color: white;
}

.Game-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.Game-game canvas {
  position: absolute;
}
