.waitingBg {
  background-image: url("../../waitingbg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.character-selection {
  /* background-image: url("../../waitingbg.jpg");
  background-size: cover;
  background-position: center; */
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}

.character-selection h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 70px;
  letter-spacing: 10px;
}

.character-selection-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex: row;
  align-items: center;
  gap: 20px;
}

.character-selection .character-container {
  display: flex;
  gap: 50px;
}

.character-selection .left-button {
  --r: 5px;
  width: 50px;
  aspect-ratio: 1/2;
  border: 0;
  --_g: calc(var(--r) / tan(22.5deg)) right var(--r), #000 98%, #0000 101%;
  mask: conic-gradient(
        from 247.5deg at calc(100% + 100% / tan(22.5deg) - var(--r) / (3 * sqrt(2) - 4)) 50%,
        #000 45deg,
        #0000 0
      )
      100% 0 / calc(100% - var(--r) / sqrt(2)) no-repeat,
    radial-gradient(var(--r) at calc(var(--r) * sqrt(2)) 50%, #000 98%, #0000 101%),
    radial-gradient(var(--r) at top var(--_g)), radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: #ffffff70;
  transition: background-color 0.2s ease;
}

.character-selection .left-button:hover {
  background-color: #ffffffcc;
}

.character-selection .right-button {
  --r: 5px;
  width: 50px;
  aspect-ratio: 1/2;
  border: 0;
  --_g: calc(var(--r) / tan(22.5deg)) left var(--r), #000 98%, #0000 101%;
  mask: conic-gradient(
        from 67.5deg at calc(var(--r) / (3 * sqrt(2) - 4) - 100% / tan(22.5deg)) 50%,
        #000 45deg,
        #0000 0
      )
      0 0 / calc(100% - var(--r) / sqrt(2)) no-repeat,
    radial-gradient(var(--r) at calc(100% - var(--r) * sqrt(2)) 50%, #000 98%, #0000 101%),
    radial-gradient(var(--r) at top var(--_g)), radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(100% 50%, 0 100%, 0 0);
  background: #ffffff70;
  transition: background-color 0.2s ease;
}

.character-selection .right-button:hover {
  background-color: #ffffffcc;
}

.Lobby-play {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 20px 40px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Lobby-play:hover {
  background-color: var(--primary--dim);
  transform: rotate(10deg);
}
