.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-menu h1 {
  color: #eac820;
  font-size: 70px;
}

.menu-options button {
  background: none;
  border: none;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-options button:hover {
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
