.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.MainMenu h1 {
  color: var(--primary);
  font-size: 90px;
  letter-spacing: 10px;
  margin-bottom: 15px;
  text-align: center;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* }
.MainMenu-options {
  /* display: flex;
  flex-direction: row; /* Ensure buttons are in one column */
/*align-items: center; */
/* position: relative;
  display: flex;
  align-items: center;
  gap: 50px; Space between buttons 
} */

.MainMenu-options button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.singleplayer-button {
  color: var(--primary);
  position: relative;
  top: 205px;
  left: 235px;
}

.multiplayer-button {
  color: var(--primary);
  position: relative;
  top: 310px;
  left: -197px;
}

.leaderboard-button {
  color: var(--primary);
  position: relative;
  top: 310px;
  right: 48px;
}

.tutorial-button {
  color: var(--primary);
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.MainMenu-options button:hover {
  transform: translate(-5px, -5px) rotate(-5deg);
  filter: brightness(110%);
}
