.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainMenu h1 {
  color: var(--primary);
  font-size: 70px;
}

.MainMenu-options button {
  background: none;
  border: none;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainMenu-options button:hover {
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
