.NavBar {
  z-index: 1;
}

.NavBar-title {
  color: var(--primary);
  font-size: 50px;
  letter-spacing: 10px;
  position: absolute;
  top: 18px;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  animation: colorChange 2s infinite alternate;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 16px;
  font-size: 50px;
  letter-spacing: 10px;
  color: var(--primary);
}

.logout-button:hover {
  filter: brightness(500%);
}
